* text=auto eol=lf

*.go text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.cpp text eol=lf
*.h text eol=lf
go.mod text eol=lf
go.sum text eol=lf

*.exe binary
*.dll binary
*.png binary
*.jpg binary
*.xlsx binary
